.container{
    display: flex;
    width:80%;
    margin-left: 10%;
}
.info{
    padding-right:8%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:25%;
}
.circle {
    margin-left:45%;
    display: flex;
    width: 10%;
    height:38px;
    border-radius: 50%;
    background-color:#96144a;
    align-items: center;
    justify-content: center;
  }
  .circle span{
    color:white;
  }
  span{
    color:#96144a;
  }
  .black{
    font-weight: normal;
    color:black;
  }
